name: SSH Server Deploy
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          name: id_rsa # optional
          known_hosts: ${{ secrets.KNOWN_HOSTS }}
          config: ${{ secrets.CONFIG }} # ssh_config; optional
      - name: Stop
        run: ssh target "bash stop.sh"
      - name: Git pull
        run: ssh target "cd discord.py; git pull"
      - name: Run
        run: ssh target "bash run.sh"
        
